In [1]:
list[35,50,20,30,55,75,90,95,66,80]
print[list]

list[35, 50, 20, 30, 55, 75, 90, 95, 66, 80]

In [2]:
scores=[35,50,20,30,55,75,90,95,66,80]
for i in scores:
    if i>70:
        print("Distinction")
    elif 60<i<70:
        print("First Class")
    elif 50<i<60:
        print("Second Class")
    elif 35<i<50:
        print("Just Pass")
    else:
        print("Fail")

Fail
Fail
Fail
Fail
Second Class
Distinction
Distinction
Distinction
First Class
Distinction

In [3]:
Book_price= {'Python':600, 'Java': 400, 'Web_Tech': 550, 'OS': 450, 'IT': 700}
for x,y in Book_price.items():
    if y>500:
        print(x)

Python
Web_Tech
IT

In [4]:
aList = [1, 2, 3, 4, 5, 6, 7]
squared_list=[i**2 for i in aList]
squared_list

[1, 4, 9, 16, 25, 36, 49]

In [5]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for i in list1:
    for j in list2:
        print(i+j)

Hello Dear
Hello Sir
take Dear
take Sir

In [6]:
aLsit = [100, 200, 300, 400, 500]
rev=aLsit[::-1]
rev

[500, 400, 300, 200, 100]

In [7]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].extend(["h", "i", "j"])
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [9]:
list1=[5, 10, 15, 20, 25, 50, 20]
index=list1.index(20)
list1[index]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [10]:
Player_game={'Sachin':'Cricket', 'Rahul': 'Cricket', 'Messi': 'Football', 'Federer': 'Tennis', 'Anand': 'Chess'}
for x,y in Player_game.items():
    if y=='Cricket':
        print(x)

Sachin
Rahul

In [11]:
Sum=0
List1= [1,2,4,5,10,20,4,5]
for i in List1:
    Sum+=i
Sum

51